.logo-icon {
  width: 149.2px;
  position: relative;
  height: 61px;
  object-fit: cover;
  z-index: 0;
}
.text1 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--absolute-white);
  text-align: left;
}
.button4,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button4 {
  cursor: pointer;
  border: 1px solid var(--dark-20);
  padding: var(--padding-base) var(--padding-5xl);
  border-radius: var(--br-3xs);
  overflow: hidden;
  justify-content: flex-start;
  z-index: 1;
  background: linear-gradient(145deg, #000000, #1e1d20);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Consolas, Courier New, monospace;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

.button4:hover {
  box-shadow: 1px 1px 13px #300a67, -1px -1px 13px #4a2a99;
  color: #d6d6d6;
  transition: 500ms;
}

.button4:active {
  box-shadow: 1px 1px 13px #300a67, -1px -1px 33px #4a2a99;
  color: #d6d6d6;
  transition: 100ms;
}

.navbar {
  margin: 0;
  align-self: stretch;
  border-right: 1px solid var(--dark-12);
  border-left: 1px solid var(--dark-12);
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-21xl);
  position: relative;
}

.button4 {
  display: block;
}

.hamburger-icon {
  display: none;
}

@media (max-width: 798px) {
  .button4 {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
}

@media (max-width: 948px) {
  .button4 {
    padding: 16px 10px;
  }
}

/*@media (max-width: 420px) {
  .navbar {
    transform: translateX(-115px);
    padding: 16px 10px;
    gap: 283px;
}
} */
