.container {
  max-width: 50%;
  max-height: 50%;
  width: 300px;
}

.small-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-images-container img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  width: 250px;
}
